// TODO: custom style
/* Scroll bar */

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light-color;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}

.swal2-actions {
  justify-content: center;
}