// TODO: define global variables
$white: #fff;
$black: #000;
$primary-color: #4AA96C;
$secondary-color: #979AA6;
$success-color: #82d616;
$info-color: #17c1e8;
$warning-color: #f53939;
$danger-color: #ea0606;
$dark-color: #06080E;
$light-color: #F0F1F2;
$grey: #B4B8C5,
